@import url("https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap");

@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default;
}

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #f9cd16;
  --color-secondary: #faa701;
  --color-base-200: #f3f4f6;
  --color-base-300: #e5e7eb;
  --color-accent: #f97316;
}

* {
  font-family: "Source Sans 3", sans-serif;
}
